<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-searchbar style="padding-top: 10px;"></ion-searchbar>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-grid>
		<h2 class="ion-padding" text-center>เลขที่คุณถูกใจ</h2>
		<ion-row>
			<ion-col size="12">
				<ion-row>
					<ion-col size="8">
						<img src="/assets/shapes.svg" />
          </ion-col>
						<ion-col size="4" text-center>
							<h1 style="margin-top: -1px">1</h1>
						</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12">
				<ion-row>
					<ion-col size="8">
						<img src="/assets/shapes.svg" />
          </ion-col>
						<ion-col size="4" text-center>
							<h1 style="margin-top: -1px">3</h1>
						</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
    <ion-row>
			<ion-col size="12">
				<ion-row>
					<ion-col size="8">
						<img src="/assets/shapes.svg" />
          </ion-col>
						<ion-col size="4" text-center>
							<h1 style="margin-top: -1px">1</h1>
						</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>