<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: url(../../assets/bg/Lotonly_BG.png) 0 0/100% 100% no-repeat;">
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-avatar
            style="margin: auto; width: 200px; height: 200px;"
            padding
          >
            <img
              src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
            />
          </ion-avatar>
        </ion-col>
        <ion-col size="12">
          <div text-center>
            <p><b>คะแนนสะสม: </b> 231 คะแนน</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-grid style="padding: 50px; margin-top: -20px;">
      <ion-row style="background-color: #f4f4f4;">
        <ion-col size="12" text-center>
          <p><b>ระดับ: </b> อนุบาล</p>
          <ion-button
            size="large"
            type="submit"
            expand="block"
            color="primary"
            disabled
            >ระดับปัจจุบัน</ion-button
          >
        </ion-col>
      </ion-row>
      <br>
      <ion-row style="background-color: #ffbfbf;">
        <ion-col size="12" text-center>
          <p><b>ระดับ: </b> ประถม</p>
          <ion-button size="large" type="submit" expand="block" color="primary"
            >100 คะแนน</ion-button
          >
        </ion-col>
      </ion-row>
      <br>
      <ion-row style="background-color: #bbc5ff;">
        <ion-col size="12" text-center>
          <p><b>ระดับ: </b>มัธยม</p>
          <ion-button size="large" type="submit" expand="block" color="primary"
            >200 คะแนน</ion-button
          >
        </ion-col>
      </ion-row>
      <br>
      <ion-row style="background-color: #d8ffac;">
        <ion-col size="12" text-center>
          <p><b>ระดับ: </b>มหาลัย</p>
          <ion-button size="large" type="submit" expand="block" color="primary"
            >400 คะแนน</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
